In [18]:
import pandas as pd
from cdapython import tables, columns, column_values, fetch_rows, summary_counts

Query = {'match_any': ['primary_diagnosis_site = *bone*',
                       'primary_diagnosis_site = *osseous*'],
         'data_source': 'GDC'}
# data_source='GDC'
subject = fetch_rows( table='subject', match_any=["primary_diagnosis_site = *bone*","primary_diagnosis_site = *osseous*"], provenance=True) # provenance=True

#subject = fetch_rows( table='subject', match_any=["primary_diagnosis_site = *brain*","primary_diagnosis_site = *cerebral*"], provenance=True) # provenance=True

#['primary_diagnosis_site = *brain*',
#                       'primary_diagnosis_site = *cerebral*']
#subject = subject.drop(columns=['subject_data_source_id'], axis=1)

subject.head()

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status,subject_data_source,subject_data_source_id
0,ccdi_mci.PBBRIE,,2156436,<NA>,Non-Hispanic,Black or African American,female,human,,CDS,participant.participant_id:PBBRIE
1,ccdi_mci.PBBRIE,,2156436,<NA>,Non-Hispanic,Black or African American,female,human,,CDS,participant.uuid:709734fe-2857-5e3c-bfc2-ee9bc...
2,ccdi_mci.PBBRIE,,2156436,<NA>,Non-Hispanic,Black or African American,female,human,,IDC,idc_case_id:ee88f7f5-2216-41fc-bcae-5599c344df45
3,ccdi_mci.PBBRIE,,2156436,<NA>,Non-Hispanic,Black or African American,female,human,,IDC,PatientID:PBBRIE
4,ccdi_mci.PBBRIE,,2156436,<NA>,Non-Hispanic,Black or African American,female,human,,IDC,submitter_case_id:PBBRIE

In [19]:
research = fetch_rows(table='researchsubject', match_any=["primary_diagnosis_site = *bone*","primary_diagnosis_site = *osseous*"], add_columns=['subject_id'])

research.head()

,researchsubject_id,member_of_research_project,primary_diagnosis_condition,primary_diagnosis_site,subject_id
0,COTC022.COTC022-0102,COTC022,Osteosarcoma,limb bone,COP.COTC022-0102
1,COTC022.COTC022-0104,COTC022,Osteosarcoma,limb bone,COP.COTC022-0104
2,COTC022.COTC022-0106,COTC022,Osteosarcoma,limb bone,COP.COTC022-0106
3,COTC022.COTC022-0202,COTC022,Osteosarcoma,limb bone,COP.COTC022-0202
4,COTC022.COTC022-0204,COTC022,Osteosarcoma,limb bone,COP.COTC022-0204

In [23]:
sites = column_values(column='primary_diagnosis_site')
#sites.shape
sites

          primary_diagnosis_site  count
0                                 66419
1                          chest  28221
2                         breast  21203
3                           lung  12289
4                  immune system   9029
..                           ...    ...
149                sigmoid colon      1
150                skin of trunk      1
151          submandibular gland      1
152  supraglottic part of larynx      1
153                      urachus      1

[154 rows x 2 columns]